---
title: Elecciones
---

<div class="main-container">
        {% for election in site.elections %}
        <div class="card inline padding elections">
            <h2>{{election.country}} - {{election.type}}</h2>
            <h4 class="right"><a href="{{site.baseurl}}/{{ election.url }}" class="button">Ver mas</a></h4>
        </div>
        {% endfor %}
    
</div>