html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #026485;
  }
  
.main-container {
    padding: 30px;
}

.inline {
    display: inline-block;
}

.padding {
    padding: 7px;
}

.card {
    background: #a3dde0;
    box-shadow: 5px 5px #000;
    height: auto;
    margin: 20px;
}

.elections{
    max-width: 25%;
    height: auto;
}

.button {
    background: #3766B7;
    border-style: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

.right {
    text-align: right;
}

header {
    overflow: hidden;
    background-color: #a4a49e;
    padding: 20px 10px;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
  
  
  
  
  