<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>

<header>
    <div>
        <a href="{{site.baseurl}}/" class="logo">Elecciones</a>
    </div>
</header>

<body>
    {{content}}
</body>

</html>