---
layout: default
---
<div class="main-container">
    <div class="card padding">
        <h4>Tipo de eleccion: {{page.type}}</h4>
        <h4>Pais: {{page.country}}</h4>
        {%if page._date%}
        <h4>Fecha: {{ page._date | date: "%d/%m/%Y" }}</h4>
        {%else%}
        <h4>Fecha: sin fecha</h4>
        {% endif %}
        <p>{{content}}</p>
    </div>
</div>